@import "../node_modules/bootstrap/dist/css/bootstrap.css";

#header {
    -moz-box-shadow: 0 0 15px 2px #999;
    -webkit-box-shadow: 0 0 15px 2px #999;
}

#siteTitle h1 {
    font-variant: small-caps;
    color: royalblue;
    padding-top: 15px;
}

#signInDetails {
    padding-top: 10px;
    text-align: end;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

table {
    border: 1px solid;
    border-radius: 18px;
    -moz-border-radius: 18px;
    padding: 15px;
    -moz-box-shadow: 0 0 15px 2px #999;
    -webkit-box-shadow: 0 0 15px 2px #999;
}

tr, td, thead, tbody, th {
    border-style: unset !important;
}

#dataTable {
    padding-top: 20px;
}

#printButton {
    float: left;
    padding-right: 30px;
}

#bulkUpdateButton {
    float: left;
}

#customPagination {
    float: right;
}

#statusSelect {
    padding-top: 20px;
    text-align: end;
}
